.auth {
    width: 20%;
    margin: auto;
    margin-top: 1%;
}
.switcher{
    text-align: center;
    margin-top: 1%;
}
.slash {
    color: grey;
}

.user-profile {
    width: 30%;
    margin: auto;
}
